@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');
body{
    margin: 0;
   overflow: hidden;
width: 100vw;
height: 100vh;
background-color: black;
color: #ffff;
}
#GameCanvas{
    background-image: url("./res/Fighting_Background.gif");
    background-size: cover;
    z-index: 10;
}
#upperHalf{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    position: absolute;
    top: 0px;
}
#playerAvatarContainer{
    width: 40px;
    overflow: hidden;
}

#batAvatarContainer{
    width: 40px;
    overflow: hidden;
}
#upperHalf >{border: black solid 2px;
    z-index: 50;
    font-size: 20px;
    overflow: hidden;
}
#res{display: none;}
table#playerData{width: 20%;
height: 40px;
font-size: 20px;
}
table#batData{width: 20%;
    height: 40px;
    font-size: 20px;
    }
#batData{width: 20%;}
#message{width: 60%;
text-align: center;
font-family: 'Roboto Condensed', sans-serif;
padding: 5px;
animation:flash infinite 1s;
font-size: xx-large;}
#weatherEffects{
background-image: url("./res/fog.png");
width: 100vw;
height: 100vh;
background-repeat: repeat-x;
position: absolute;
animation:move infinite 5000s;
top: 0px;
}
td#playerHealthBar{
    background-color: green;
}
#batHealthBar{
    background-color: green;
    
}
#playerAvatar{
    height: 10vh;
    display: inline-block;
    margin: 0px;
}

#batAvatar{
    height: 10vh;
    display: inline-block;
    margin: 0px;
}
#controls{
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
}
#joystickCont{
    display: inline-block;
    width: 50%;
    height: 100%;
    margin: 0px;
    background-color: rgba(65, 105, 225, 0.171);
}
#attackButton{  
 display: inline-block;
 width: 49%;
 margin: 0px;
height: 100%;
background-color: rgba(194, 9, 123, 0.11);

}
@keyframes flash{
    from{
        color: transparent;
    }
    to{
        color: #ffff;
    }
}

@keyframes move{
    from{
        background-position-x: 0%;
    }
    to{
        background-position-x: 50000%;
    }
}